<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if error == True %}
        <p style="font-weight: bolder; color: red;">{{ message }}</p>
    {% else %}
        <p style="font-weight: bolder; color: green;">{{ message }}</p>
    {% endif %}
    <h2>User Login</h2>
    <form id="loginForm" action="/login" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Login</button>
        <p>Do not have an Account <a href="/signup">Signup</a>!</p> 
    </form>
</body>
</html>